@use "./../foundation/global" as *;

.l-header__only-top {
    // width: 100%;
    display: grid;
    grid-template-columns: 424px 1fr;
    gap: 36px;

    @include mq(md) {
        grid-template-columns: auto;
    }
}

.l-nav {
    height: 80px;
    background-color: $c-main;
}

.l-nav__list {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 28px;
}

.l-nav__item {
    position: relative;
    display: flex;
    /* Flexboxを使用して高さを揃える */
    align-items: center;
    /* 垂直方向に中央揃え */
    line-height: 1.5;
    /* テキストの高さを制御 */
}

.l-nav__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    /* SVGの幅に合わせる */
    height: 24px;
    /* SVGの高さに合わせる */
    margin-right: 5px;
    /* SVGとテキストの間隔を調整 */
    background: url('./images/ico_paw.svg') no-repeat center center;
    /* 実際のSVGのパスを指定 */
    background-size: contain;
    /* SVGを縮尺に合わせる */
    // height: 100%;
    // width: auto;
}


.l-header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    padding-top: 60px;
    background-color: $c-main;
    transition: 0.4s;
}

.l-header__nav-area.-active {
    left: 0;
    visibility: visible;
}

.l-mobile-nav {
    display: flex;
    flex-direction: column;
}



// hamburgerサンプルCSS

.hamburger {
    visibility: hidden;

    @include mq(md) {
        visibility: visible;
    }

    display: block;
    height: 60px;
    margin-left: auto;
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 10;
    width: 60px;
    border: none;
    background-color: transparent;
}

.hamburger.-active .hamburger__line {
    background-color: transparent;
}

.hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
}

.hamburger.-active .hamburger__text::before {
    content: '閉じる';
}

.hamburger__line {
    display: block;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    background-color: #172e59;
    transition: 0.4s;
}

.hamburger__line:before,
.hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #172e59;
    transition: inherit;
}

.hamburger__line:before {
    top: -6px;
}

.hamburger__line:after {
    top: 6px;
}

.hamburger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hamburger__text::before {
    content: "メニュー";
    text-align: center;
    color: #172e59;
    font-size: 10px;
    font-weight: 900;
}


// l-mobile-nav
.l-mobile-nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-mobile-nav__logo>img {
    width: 76px;
}

.l-mobile-nav__list {
    margin-top: 34px;
}

.l-mobile-nav__item {
    border-top: 2px dotted $c-accent;
    height: 43px;

    font-size: 14px;
    font-weight: bold;
}

.l-mobile-nav__item:last-child {
    border-bottom: 2px dotted $c-accent;
}

.l-mobile-nav__item>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.l-mobile-nav__other-link {
    margin-top: 45px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

// .l-mobile-nav__other-link>a:first-child {
//     position: relative;
// }

// .l-mobile-nav__other-link>a:first-child::after {
//     content: "";
//     display: block;
//     width: 1px;
//     height: 10px;
//     background-color: $c-accent;
//     position: absolute;
//     right: -10px;
// }