<footer class="l-footer">
    <div class="l-footer-nav__logo">
        <img
            src="/images/logo_small_wh.svg"
            alt="ハンドメイド猫グッズのお店 nekonokomono"
        />
    </div>
    <ul class="l-footer-nav__list">
        <li class="l-footer-nav__item">
            <a href="#"> <span>トップページ</span></a>
        </li>
        <li class="l-footer-nav__item">
            <a href="#">商品一覧</a>
        </li>
        <li class="l-footer-nav__item">
            <a href="#">ねこブログ</a>
        </li>
        <li class="l-footer-nav__item">
            <a href="#">ねこ店員紹介</a>
        </li>
        <li class="l-footer-nav__item">
            <a href="#">よくあるご質問</a>
        </li>
        <li class="l-footer-nav__item">
            <a href="#">お問い合わせ</a>
        </li>
    </ul>
    <div class="l-footer-nav__other-link">
        <a href="">特定商取引法に関する表記</a>
        <span>|</span>
        <a href="">プライバシーポリシー</a>
    </div>
    <small class="l-footer-nav__licence"
        >© l’atelier Queue All Rights Reserved. 2021</small
    >
</footer>
