---
import Navigation from "./Navigation.astro";
---

<header class="l-header">
    <div class="l-header__logo">
        <div class="l-header__logo-bg-image">
            <img src="images/bg_top_header.jpg" alt="" />
            <!-- srcset  sp-->
        </div>
        <img
            src="/images/logo_under_header.svg"
            alt="ハンドメイド猫グッズのお店 nekonokomono"
        />
    </div>
    <Navigation />
</header>
