<section class="l-pagination">
    <ul class="l-pagination__list">
        <li class="l-pagination__prev">
            <a href=""> 前へ </a>
        </li>
        <li class="l-pagination__item active">
            <a href="">1</a>
        </li>
        <li class="l-pagination__item">
            <a href="">2</a>
        </li>
        <li class="l-pagination__item">
            <a href="">3</a>
        </li>
        <li class="l-pagination__dots">...</li>
        <li class="l-pagination__item">
            <a href="">7</a>
        </li>
        <li class="l-pagination__next">
            <a href="">次へ</a>
        </li>
    </ul>
</section>
