---
import Layout from "./layouts/Layout.astro";
const title = "nekonokomono | Top";
---

<Layout title={title}>
	<main>
		<h1>{title}</h1>
	</main>
</Layout>

<style>
	main {
		margin-top: 60px;
	}
</style>
