---
import IndexLayout from "./layouts/IndexLayout.astro";
const title = "nekonokomono | Top";
---

<IndexLayout title={title}>
	<header class="p-index-header">
		<div class="p-index-header__logo-area --container">
			<img
				src="/images/logo_top_header.svg"
				alt="ハンドメイド猫グッズのお店 nekonokomono"
				class="p-index-header__logo-area__logo"
			/>
			<p class="p-index-header__logo-area__desc">
				“Queue(クー)”は、フランス語で「しっぽ」の意味です。猫にも人にも心地好いをモットーに、猫おもちゃ、雑貨を作っています。
			</p>
		</div>
		<div class="p-index-header__image-area"></div>
		<nav class="l-nav">
			<ul class="l-nav__list">
				<li class="l-nav__item">
					<a href="#">商品一覧</a>
				</li>
				<li class="l-nav__item">
					<a href="#">ねこブログ</a>
				</li>
				<li class="l-nav__item">
					<a href="#">ねこ店員紹介</a>
				</li>
				<li class="l-nav__item">
					<a href="#">よくあるご質問</a>
				</li>
				<li class="l-nav__item">
					<a href="#">お問い合わせ</a>
				</li>
			</ul>
			<button
				id="js-hamburger"
				type="button"
				class="hamburger"
				aria-controls="navigation"
				aria-expanded="false"
				aria-label="メニューを開く"
			>
				<span class="hamburger__line"></span>
				<span class="hamburger__text"></span>
			</button>
			<div class="l-mobile-nav-area js-nav-area" id="navigation">
				<nav id="js-global-navigation" class="l-mobile-nav --container">
					<div class="l-mobile-nav__logo">
						<img
							src="/images/logo_small.svg"
							alt="ハンドメイド猫グッズのお店 nekonokomono"
						/>
					</div>
					<ul class="l-mobile-nav__list">
						<li class="l-mobile-nav__item">
							<a href="#"> <span>トップページ</span></a>
						</li>
						<li class="l-mobile-nav__item">
							<a href="#">商品一覧</a>
						</li>
						<li class="l-mobile-nav__item">
							<a href="#">ねこブログ</a>
						</li>
						<li class="l-mobile-nav__item">
							<a href="#">ねこ店員紹介</a>
						</li>
						<li class="l-mobile-nav__item">
							<a href="#">よくあるご質問</a>
						</li>
						<li class="l-mobile-nav__item">
							<a href="#">お問い合わせ</a>
						</li>
					</ul>
					<small class="l-mobile-nav__other-link">
						<a href="">特定商取引法に関する表記</a>
						<span>|</span>
						<a href="">プライバシーポリシー</a>
					</small>
					<div id="js-focus-trap" tabindex="0"></div>
				</nav>
			</div>
		</nav>
	</header>
	<main>
		<section class="p-index-news --container">
			<div class="p-index-news__heading-wrapper">
				<h2 class="c-index-heading">お知らせ</h2>
				<a href="#" class="c-button-black">
					<span>一覧へ</span>
				</a>
			</div>
			<ul class="p-index-news__list">
				<li class="p-index-news__item">
					<div class="p-index-news__date">2021-11-01</div>
					<div class="p-index-news__tag --primary">
						<span>新商品情報</span>
					</div>
					<a href="#" class="p-index-news__title"
						>【焼印付】爪とぎ型キーホルダー登場！</a
					>
				</li>
				<li class="p-index-news__item">
					<div class="p-index-news__date">2021-10-28</div>
					<div class="p-index-news__tag">入荷情報</div>
					<a href="#" class="p-index-news__title"
						>里親募集型猫カフェ猫式さんの委託販売ブースにアクセサリー・猫首輪・けりぐるみを納品しました。</a
					>
				</li>
				<li class="p-index-news__item">
					<div class="p-index-news__date">2021-10-12</div>
					<div class="p-index-news__tag">イベント出店</div>
					<a href="#" class="p-index-news__title"
						>ニャンフェス14に参加決定。鋭意新作製作中です！</a
					>
				</li>
			</ul>
		</section>
		<section class="p-recommend --container">
			<h2 class="c-index-heading">おすすめ商品</h2>
			<ul class="p-recommend__list">
				<li class="p-recommend__card --new">
					<a href="#">
						<img
							src="/images/dmy_pd001.jpg"
							alt="【焼印付】爪とぎ型キーホルダー"
							class="p-recommend__card-image"
						/>
					</a>
					<h3 class="p-recommend__card-heading">
						【焼印付】爪とぎ型キーホルダー
					</h3>
					<p class="p-recommend__card-desc">
						可愛らしいミニチュアサイズの「猫の爪とぎ」型キーホルダー。木製ケースの裏面には猫シルエットの焼印付きでオシャレ！
					</p>
					<p class="p-recommend__card-price">000</p>
					<a href="#" class="p-recommend__card-link"
						><span> 詳細を見る</span></a
					>
				</li>
				<li class="p-recommend__card">
					<a href="#">
						<img
							src="/images/dmy_pd002.jpg"
							alt="【肉球ブローチ（7個セット）"
							class="p-recommend__card-image"
						/>
					</a>
					<h3 class="p-recommend__card-heading">
						【肉球ブローチ（7個セット）
					</h3>
					<p class="p-recommend__card-desc">
						定番の肉球型のレジンブローチ（7個セット）です。
					</p>
					<p class="p-recommend__card-price">000</p>
					<a href="#" class="p-recommend__card-link"
						><span> 詳細を見る</span></a
					>
				</li>

				<li class="p-recommend__card">
					<a href="#">
						<img
							src="/images/dmy_pd003.jpg"
							alt="レース猫首輪（鈴付き）"
							class="p-recommend__card-image"
						/>
					</a>
					<h3 class="p-recommend__card-heading">
						レース猫首輪（鈴付き）レース猫首輪（鈴付き）レース猫首輪（鈴付き）
					</h3>
					<p class="p-recommend__card-desc">
						アースカラーのレース＋アンティーク調の金具でシックな印象の猫首輪です。
					</p>
					<p class="p-recommend__card-price">000</p>
					<a href="#" class="p-recommend__card-link"
						><span> 詳細を見る</span></a
					>
				</li>
			</ul>
		</section>
		<section class="p-index-category --container">
			<h2 class="c-index-heading">商品カテゴリー</h2>
		</section>
		<section class="p-home-others"></section>
		<section class="p-home-profile"></section>
	</main>
	<footer class="l-footer"></footer>
</IndexLayout>

<style>
	/* * {
		outline: 1px solid magenta;
	} */
	main {
		/* margin-top: 60px; */
	}
</style>

<script>
	// メニュー展開時に背景を固定
	const backgroundFix = (bool) => {
		const scrollingElement = () => {
			const browser = window.navigator.userAgent.toLowerCase();
			if ("scrollingElement" in document)
				return document.scrollingElement;
			return document.documentElement;
		};

		const scrollY = bool
			? scrollingElement().scrollTop
			: parseInt(document.body.style.top || "0");

		const fixedStyles = {
			height: "100vh",
			position: "fixed",
			top: `${scrollY * -1}px`,
			left: "0",
			width: "100vw",
		};

		Object.keys(fixedStyles).forEach((key) => {
			document.body.style[key] = bool ? fixedStyles[key] : "";
		});

		if (!bool) {
			window.scrollTo(0, scrollY * -1);
		}
	};

	// 変数定義
	const CLASS = "-active";
	let flg = false;
	let accordionFlg = false;

	let hamburger = document.getElementById("js-hamburger");
	let focusTrap = document.getElementById("js-focus-trap");
	let menu = document.querySelector(".js-nav-area");
	let accordionTrigger = document.querySelectorAll(
		".js-sp-accordion-trigger",
	);
	let accordion = document.querySelectorAll(".js-sp-accordion");

	// メニュー開閉制御
	hamburger.addEventListener("click", (e) => {
		//ハンバーガーボタンが選択されたら
		e.currentTarget.classList.toggle(CLASS);
		menu.classList.toggle(CLASS);
		if (flg) {
			// flgの状態で制御内容を切り替え
			backgroundFix(false);
			hamburger.setAttribute("aria-expanded", "false");
			hamburger.focus();
			flg = false;
		} else {
			backgroundFix(true);
			hamburger.setAttribute("aria-expanded", "true");
			flg = true;
		}
	});
	window.addEventListener("keydown", () => {
		//escキー押下でメニューを閉じられるように
		if (event.key === "Escape") {
			hamburger.classList.remove(CLASS);
			menu.classList.remove(CLASS);

			backgroundFix(false);
			hamburger.focus();
			hamburger.setAttribute("aria-expanded", "false");
			flg = false;
		}
	});

	// メニュー内アコーディオン制御
	accordionTrigger.forEach((item) => {
		item.addEventListener("click", (e) => {
			e.currentTarget.classList.toggle(CLASS);
			e.currentTarget.nextElementSibling.classList.toggle(CLASS);
			if (accordionFlg) {
				e.currentTarget.setAttribute("aria-expanded", "false");
				accordionFlg = false;
			} else {
				e.currentTarget.setAttribute("aria-expanded", "true");
				accordionFlg = true;
			}
		});
	});

	// フォーカストラップ制御
	focusTrap.addEventListener("focus", (e) => {
		hamburger.focus();
	});
</script>
