@use "../../foundation/global" as *;

.p-index-news {
    padding-top: 100px;


    @media screen and (max-width: 768px) {}
}

.p-index-news__heading-wrapper {
    position: relative;
}

.p-index-news__heading-wrapper>.c-button-black {
    position: absolute;
    top: 8px;
    right: 0;
}