@use "../../foundation/global" as *;

.p-index-profile {
    display: grid;
    grid-template-columns: 1fr 1084px 1fr;

    @media only screen and (max-width: 1184px) {
        grid-template-columns: 1fr 90% 1fr;
    }

    &>* {
        grid-column: 2;
    }

    text-align: center;
    padding-top: 94px;
    padding-bottom: 100px;
}

.p-index-profile__heading {
    font-size: 30px;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.p-index-profile__image {
    margin-top: 36px;
    width: 140px;
    justify-self: center;
}

.p-index-profile__account {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.p-index-profile__desc {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.8;
}

.p-index-profile__social-icons {
    margin-top: 38px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.p-index-profile__list-social-icon {
    width: 80px;
    height: 80px;
}