@use "../../foundation/global" as *;

.p-recommend {
    padding-top: 100px;

    @media screen and (max-width: 768px) {
        padding-top: 80px;
    }
}

.p-recommend__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1084px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

.p-recommend__card {
    width: 348px;
    height: 468px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 15px;
    border: solid 1px $c-gray;
    display: grid;
    grid-template-rows: 190px auto 1fr 44px 44px;
    overflow: hidden;
}

.p-recommend__card.--new {
    position: relative;

    &::before {
        content: "新商品";
        position: absolute;
        top: 15px;
        left: -45px;
        background-color: $c-primary;
        color: $c-base;
        padding: 5px 60px;
        font-size: 14px;
        font-weight: bold;
        rotate: -45deg;
    }
}

.p-recommend__card-image {
    width: 100%;
    height: 190px;

}

.p-recommend__card-heading {
    margin-top: 27px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px dotted $c-secondary-lighter;
}

.p-recommend__card-desc {
    margin-top: 20px;
    font-size: 14px;
}

.p-recommend__card-price {
    margin-top: 12px;
    height: 22px;
    text-align: right;
    margin-right: 40px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.p-recommend__card-price::before {
    display: inline-block;
    content: "（税抜）";
    position: absolute;
    top: 0.4em;
    right: -50px;
    font-size: 12px;

}

.p-recommend__card-price::after {
    display: inline-block;
    content: "円";
    margin-left: 2px;
    font-weight: bold;
    font-size: 16px;

}

.p-recommend__card-link {
    // margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
    border: solid 1px $c-gray;
    font-size: 14px;
    font-weight: bold;
}

.p-recommend__card-link>span {
    position: relative;
}

.p-recommend__card-link>span::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -20%;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid $c-accent;
    border-right: 2px solid $c-accent;
    transform: rotate(45deg);
    margin-left: 0;
}